@{
    Layout = "~/Views/DiscoverNewHorizons/_DiscoverNewHorizonsLayout.cshtml";
}

@{
    ViewBag.Title = "Discover Medix College";
    ViewBag.PageDescription = "Learn more about Medix College and why programs offered at this Private Career College helps graduates train for health care professions";
}

<div class="col-sm-12 botMARG">
    <h1 class="contentPageH1">DISCOVER NEW HORIZONS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">Discover New Horizons</li>
    </ol>
    <img class="img-responsive" width="100%" src="/Content/images/nhit-discover.jpg" alt="IT server admin professional" />

</div>

<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <blockquote class="contentBlockquote">
                <h2 class="contentPageH1">"Upgrading people everyday."</h2>
            </blockquote>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">New Horizons Overview</h1>
            <hr class="hrp" />
            <p class="contentp">
                New Horizons Computer Learning Centers Inc. is the world's largest independent IT training company with 300 centers in 70 countries. At New Horizons, we focus on continued worldwide expansion to meet the ever-increasing demands of the
                technology evolution.<br/><br/>

                Innovative, award-winning learning methods such as Online LIVE(r) and
                Mentored Learning(r) have revolutionized the way students learn, retain and apply new knowledge.

                <br /><br />

                New Horizons offers an extensive selection of vendor-authorized training and certifications for top technology
                providers such as Microsoft, Cisco and CompTIA.

                <br /><br />

                Furthermore, we are the world's largest training provider for Microsoft, Cisco and CompTIA.

                Being an authorized partner ensures that our students have the highest quality training materials and train on the latest
                products and technologies available.

                <br /><br />

                New Horizons has quickly become the world leader in this industry through
                its development of company-owned and franchised training centers.

                <br /><br />

                Career College Group is excited to be the latest franchise here in Toronto and
                bring IT training to even more students!
            </p>
        </div>
    </div>

    <div class="panel panel-default hidden-lg hidden-md hidden-sm hidden-xs">
        <div class="panel-body">
            <h1 class="contentH1">The Programs</h1>
            <hr class="hrp" />
            <p class="contentp">
                Medix College provides training in healthcare diploma programs preparing students for the growing
                healthcare industry in Canada. The objective of the program training is to equip the students with the
                most current theory and practical training necessary to become successful healthcare professionals.

                <br /><br />

                The curriculum relies on two fundamental principles; firstly, teach to foster an understanding of the material
                versus memorization of the material, and secondly, allowing the students to process information
                through practical experience. Practical experience is provided to our students through laboratories and
                an opportunity to shadow experienced workers in the field. Each campus has its own set of programs,
                which run throughout the year.
            </p>
        </div>
    </div>


    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>



        <div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="24005">New Horizons</option>
 
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option class="0 24005" value="41050">IT Enterprise Professional</option>
                        <option class="0 24005" value="41049">IT Help Desk Associate</option>
                        <option class="0 24005" value="41048">IT Office</option>
                        <option class="0 24005" value="41040">IT Server Administrator Professional</option>
                        <option class="0 24005" value="41051">IT Service Technician</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-body panelBG">
            <h1 class="contentH1 text-center"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;CAMPUSES</h1>
            <hr class="hrpblue" />

            <p class="contentp">
                @Html.ActionLink("Toronto", "Toronto", "Campuses")
            </p>
        </div>

    </div>
</div>
