
@{
    ViewBag.Title = "Accessibility Policy";
}


<div class="container">
    <div class="col-sm-12">

        <h1 class="contentPageH1">ACCESSIBILITY POLICY</h1>
        <ol class="breadcrumb">
            <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active contentp">Accessibility Policy</li>
        </ol>

        <p class="contentp">
            Medix College of Healthcare – Kitchener Campus Accessibility Policy
            <br /><br />
            <br /><br />Rationale: To ensure that accessibility issues and needs are energetically addressed.
            <br /><br />1.0 Purpose
            <br /><br />Medix College of Healthcare- Kitchener Campus is committed to improving opportunities and providing services to our students, the public, and our staff that are free of barriers and biases. Medix College of Healthcare - Kitchener Campus strives to ensure that key principles of independence, dignity, integration, and equality of opportunity are reflected and valued in our learning and working environments. Our conduct shall demonstrate our belief in the strength diversity brings to our communities.
            <br /><br />2.0 Policy
            <br /><br /> It is the policy of the Medix College of Healthcare –Kitchener Campus to support the rights of all persons with disabilities by providing equal opportunities to participate in our school with respect, independence, and dignity.
            <br /><br />3.0 Terms and Definitions
            <br /><br />3.1 Alternative Format
            <br /><br />Shall mean any other ways of publishing information beyond traditional printing
            <br /><br />3.2 Assistive Device
            <br /><br />An assistive device is any device used by people with disabilities to help with their daily living. Assistive devices include a range of products such as wheelchairs, walkers, white canes, oxygen tanks, electronic communication devices.
            <br /><br />3.3 Barrier
            <br /><br />A barrier is anything that prevents a person with a disability from participating in all aspects of society because of his or her disability, including:
            <br /><br />Architectural barriers are the ones we think of first. This category includes any physical factor that impairs accessibility – things like narrow doorways and bathrooms that a wheelchair cannot turn in.  The problem can be as simple as the arrangement of furniture.
            <br /><br />3.3 Barrier Continued
            <br /><br />Environmental barriers include things like noise levels and fragrances that trigger allergic reactions. These barriers limit where a person can go, because he or she are unable to tolerate them.
            <br /><br />An attitudinal barrier is based on the negative attitude that one person may have towards another person. Attitudinal barriers are still commonly faced by people with intellectual and physical disabilities.
            <br /><br />An employment barrier is something indicative of a workplace being unable or unwilling to provide the flexibility or specialized equipment required to accommodate a would-be employee.
            <br /><br />A transportation barrier speaks to situations where people can’t participate in a service because they can’t get there, for lack of suitable and available transportation.
            <br /><br />Communication barriers make it difficult for people with disabilities to send or receive information. A very specific barrier might be the lack of Braille on a washroom door. A more general problem might be the lack of plain language materials, making it hard for people with an intellectual disability to read documents that concern them.
            <br /><br />A technological barrier, a policy, or practice: ("obstacle")
            <br /><br />3.4 Customer
            <br /><br /> A customer is any person who uses the services of the Medix College of Healthcare – Kitchener Campus.
            <br /><br />3.5 Disability
            <br /><br />As Defined by the Human Rights Code - Section 10 (1):
            •	any degree of physical disability, infirmity, malformation, or disfigurement that is caused by bodily injury, birth defect, or illness, and, without limiting the generality of the foregoing, includes diabetes mellitus, epilepsy, a brain injury, any degree
            of paralysis, amputation, lack of physical coordination, blindness or visual impediment, deafness or hearing impediment, muteness or speech impediment, or physical reliance on a guide dog or other animal or on a wheelchair or other remedial appliance or device
            •	a condition of mental impairment or a developmental disability
            •	a learning disability, or a dysfunction in one or more of the processes involved in understanding or using symbols or spoken language
            •	a mental disorder
            •	an injury or disability for which benefits were claimed or received under the insurance plan established under the Workplace Safety and Insurance Act, 1997: ("handicap")

            <br /><br />
            3.6 Physical Accessibility Criteria
            Medix College of Healthcare – Kitchener Campus must be physically accessible according to the following criteria:
            •	designated parking areas with appropriate signage
            •	cut-away curb
            •	exterior and/or interior ramps with appropriate slopes and handrails as required
            •	a minimum of one automatic door entrance
            •	a minimum of one accessible washroom
            •	a minimum of one accessible classroom
            •	clear path of travel in entrances and hallways leading to washroom  and classroom
            •	visually defined contrasts when any change of level occurs
            <br /><br />4.0    Providing goods and services to people with disabilities
            <br /><br />Medix College of Healthcare- Kitchener Campus is committed to excellence in serving all customers including people with disabilities and we will carry out our functions and responsibilities in the following areas:
            <br /><br />
            4.1 Communication
            •	When requested, we will communicate with people with disabilities in ways that take into account their disability.
            •	We will train staff who communicate with customers on how to interact and communicate with people with various types of disabilities guided by the principles of dignity, independent and equality.
            •	Upon request, customers with disabilities will be offered alternative communication formats that will meet the needs of the customer within a reasonable time frame.
            •	We are committed to providing fully accessible telephone service to our customers. We will train staff to communicate with customers over the telephone in clear and respectful manner. We will offer to communicate with customers via alternative forms of communication if telephone communication is not suitable to their communication needs or it is not available.


            <br /><br />
            4.2 Assistive devices
            <br /><br />
            •	We are committed to serving people with disabilities who use assistive devices to obtain, use or benefit from our goods and services.
            •	We will ensure that our employees and volunteers are trained and familiar with various assistive devices that may be used by customers with disabilities while accessing our goods or services.
            •	Exceptions may occur in situations where Medix College of Healthcare – Kitchener Campus has determined that the assistive device may pose a risk to the health and safety of a person with a disability or the health and safety of others on the premises. As a result of this, if a customer with a disability is prevented from accessing goods or services at Medix College of Healthcare, Medix College of Healthcare-Kitchener Campus will accommodate the customer by providing an alternative solution, in a timely manner, when and where feasible.
            •	It is the responsibility of the customer with the disability to ensure that his or her assistive device is operated in a safe and controlled manner at all times.
            <br /><br />
            4.3 Billing / Student Enrolment Contracts
            <br /><br />
            We are committed to providing accessible invoices to all of our customers. We will make every effort to provide our customers with invoices in alternative accessible formats in a timely manner upon request.
            <br /><br />
            We will answer any questions customers may have about the content of the invoice in person, by telephone or e-mail.
            <br /><br />
            4.4   Use of service animals and support persons
            <br /><br />
            We are committed to welcoming people with disabilities who are accompanied by a service animal on the parts of our premises that are open to the public and other third parties. We will also ensure that all employees, volunteers and others dealing with the public are properly trained in how to interact with people with disabilities who are accompanied by a service animal.
            <br /><br />
            Service animals are not permitted where food preparation is being undertaken or as otherwise disallowed by law.
            <br /><br />
            In the event a service animal is to be denied access to a facility, classroom or meeting room, other accommodations may be afforded, such as:
            <br /><br />
            •	Alternate meeting / class formats i.e. teleconferencing or online meeting where technology permits;
            •	Delivery of goods or service at an alternate time or location;
            •	Other assistive measures available to deliver a good or service to ensure quality of the outcome.
            <br /><br />
            We are committed to welcoming people with disabilities who are accompanied by a support person(s). Any person with a disability who is accompanied by a support person(s) will be allowed to enter Medix College’s premises with his or her support person(s). At no time will a person with a disability who is accompanied by a support person(s) be prevented from having access to his or her support person(s) while on our premises.
            <br /><br />
            The customer shall determine whether a service animal or support person(s) is necessary, however, where an employee or volunteer believes that a support person(s) should be in attendance to protect the health and safety of the customer or others, the following criteria shall be used in consulting with the customer:
            <br /><br />
            •	When there is a significant risk to the health and safety of the person with a disability or to others;
            •	When the risk cannot be eliminated or reduced by other means;
            •	When the assessment of the risk is based on consideration of the duration of the risk, the nature and severity of the potential harm, the likelihood that the potential harm will occur, and the imminence of the potential harm;
            •	When the assessment of the risk is based on the individual’s actual characteristics, not merely on generalizations, misperceptions, ignorance or fears about a disability.
            <br /><br />
            Workshops and seminars sponsored by Medix College of Healthcare – Kitchener Campus or by third parties outside of daily classroom use do occur at our facilities. For such events, service animals or support person(s) shall be permitted entry to Medix College’s facilities and meeting rooms that are open to the public, except when there are fees applied by a third party and the support person(s) was not pre-registered and / or no vacancy exists. If admission to a workshop / seminar is permitted and fees are payable to a third party, the support person(s) will be permitted to attend the event at their own cost. Costs for services (i.e. food, etc.) will be the responsibility of the support person(s). If admission to a workshop / seminar to an event is permitted and fees are payable to Medix College of Healthcare – Kitchener Campus, the support person is permitted to attend at no cost for admission. Cost for other services (i.e. food, etc.) will be the responsibility of the support person(s).
            <br /><br />
            If a service animal or support person(s) is necessary for the health and safety of a person with disabilities, or for the health and safety of other persons, Medix College of Healthcare – Kitchener Campus will require the accompaniment of a service animal or support person(s) on Medix College of Healthcare premises.
            <br /><br />
            Students are required to provide their own service animal or support person(s). Students are expected to inform their Admissions representative at the time of enrolling in a program with Medix College of Healthcare- Kitchener Campus that they will be attending classes with a service animal or support person(s). The Admissions representative will inform the Admissions Director that the new student will be attending classes with a service animal or support person(s).
            5. Accessibility Plan
            Staff and supported persons will be surveyed annually in an effort to systematically identify existing barriers.
            <br /><br />
            As barriers are identified, they will be entered onto an ongoing form maintained by the Joint Health and Safety Committee. The form will include columns to capture the following information:
            <br /><br />
            	The program location
            	The year in which the item was first identified
            	The nature of the barrier and its type (e.g. architectural)
            	Strategies for removing the barrier or for preventing its occurrence, with progress notes
            	Potential or estimated cost
            	Timeline for completion
            	Person responsible
            <br /><br />
            •	This form with its ongoing list of completed and uncompleted projects can be viewed by all staff via the following pathway:  Accessibility Plan.
            <br /><br />
            •	The Accessibility Plan will also be posted on Medix College of Healthcare’s website.(Completion date to be determined)
            <br /><br />
            •	Staff will formally review the plan, annually, and will issue a report to staff and students. It may be that some identified barriers cannot be addressed in a timely fashion or at all.  For example, cost considerations.
            6.    Notice of temporary disruption
            Medix College of Healthcare – Kitchener Campus will provide customers with notice in the event of a planned or unexpected disruption in the facilities or services usually used by people with disabilities. This notice will include information about the reason for the disruption, its anticipated duration, and a description of alternative facilities or services, if available.
            Medix College of Healthcare – Kitchener Campus will make customers aware of the disruption by:
            •	Placing notices at all public entrances and service counters on our premises.
            •	Admission Director/ Education Supervisor and Instructors will inform students of the service disruption.
            If an unexpected disruption occurs, persons with disabilities will be accommodated by the use of other means to deliver the goods and services, including:
            •	Medix College of Healthcare – Kitchener Campus may provide an alternative location and time to provide the customer with the disability with the goods or services (i.e. an alternative classroom location, etc.);
            •	Any other appropriate assistive measures available to deliver the goods and services.
            <br /><br />
            7.    Training for staff
            Medix College of Healthcare – Kitchener Campus will provide training to all employees, who deal with the public or other third parties on their behalf, and all those who are involved in the development and approvals of customer service policies, practices and procedures.
            <br /><br />
            AODA customer service training will be provided to all employees. Training will be provided on an annual basis for current staff to ensure all employees remain current with all policy and procedural changes.
            <br /><br />
            Training will include the following:
            <br /><br />
            •	The purposes of the Accessibility for Ontarians with Disabilities Act, 2005 and the requirements of the customer service standard
            •	How to interact and communicate with people with various types of disabilities
            •	How to interact with people with disabilities who use an assistive device or require the assistance of a service animal or a support person
            •	How to use the assistive devices available on the premises that may help with the provision of goods or services to people with disabilities
            •	What to do if a person with a disability is having difficulty in accessing Medix College of Healthcare’s goods and services
            •	Medix College of Healthcare’s policies, practices and procedures relating to the customer service standard.
            <br /><br />
            Applicable staff will be trained on policies, practices and procedures that affect the way goods and services are provided to people with disabilities. Staff will also be trained on an ongoing basis when changes are made to these policies, practices and procedures
            <br /><br />
            8.    Feedback process
            The ultimate goal of Medix College of Healthcare – Kitchener Campus is to meet and surpass customer expectations while serving customers with disabilities. Comments on our services regarding how well those expectations are being met are welcome and appreciated.
            Feedback regarding the way Medix College of Healthcare – Kitchener Campus provides goods and services to people with disabilities can be made in person, by phone, by mail or by email.
            All comments should be directed to:
            <br /><br />
            Campus Director
            Medix College of Healthcare
            Kitchener Campus
            248 Stirling Ave S
            Kitchener, Ontario
            Canada, N2G 4L1
            <br /><br />
            Phone: (519) 885-0013
            Fax: (519) 772-0013
            <br /><br />
            Feedback will be responded to in the format in which the feedback was received. The feedback will only outline actions that are appropriate.
            9.0 References/Related Documents
            •	Accessibility for Ontarians With Disabilities Act, 2005 - governed by the Ministry of Citizenship
            •	Ontario Education Services - Accessibility Working Group - Guide book for Policy Exemplar - Accessibility Standards for Customer Service
            •	Access Ontario - Breaking Barriers Together
            •	Human Rights Code - Duty to Accommodate
            •	Assessment Act
            •	Blind Persons' Rights Act
            •	The Building Code Act, 1992
            •	Corporations Tax Act
            •	Income Tax Act
            •	Education Act
            •	Ontario Disabilities Support Program Act, 1997
            •	The Workplace Safety and Insurance Act, 1997
            •	The Canadian Charter of Rights and Freedoms
            <br /><br />
            10.0 Approved by Director of Admissions/ Education Supervisor
            December, 2012
            <br /><br />
            11.0 Effective Date
            January, 2013
            <br /><br />
            12.0 Policy Review Date
            January 2014
            <br /><br />
            13.0 Reviewed By
            •	Campus Director
            •	JHSC of Medix College of Healthcare – Kitchener Campus
        </p>


    </div>
</div>