@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@{
    ViewBag.Title = "Hire A Medix Grad";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">HIRE A MEDIX COLLEGE GRADUATE</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">Hire A Medix Grad</li>
    </ol>

</div>

<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="contentp">Please fill out the form below to contact us about hiring a student or posting a job opportunity.</p>

            <p class="contentp">
                All Medix students need to complete some volunteer work as a part of their

                curriculum. The following is a list of hours by program:
            </p>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-body">

            <table class="table table-striped table table-responsive">
                <tr class="info">
                    <td class="info">
                        MEDIX COLLEGE PROGRAM
                    </td>
                    <td class="info">
                        VOLUNTEER HOURS
                    </td>
                </tr>
            <tr>
                <td>
                    Pharmacy Assistant Student 
                </td>
                <td>
                    240
                </td>
            </tr>
                <tr>
                    <td>
                        Community Service Worker Student
                    </td>
                    <td>
                        500
                    </td>
                </tr>
                <tr>
                    <td>
                        Dental Assisting Student
                    </td>
                    <td>
                        150
                    </td>
                </tr>
                <tr>
                    <td>
                        Medical Office Student
                    </td>
                    <td>
                        240
                    </td>
                </tr>
                <tr>
                    <td>
                        Medical Lab Student
                    </td>
                    <td>
                        240
                    </td>
                </tr>
                <tr>
                    <td>
                        Personal Support Worker Student
                    </td>
                    <td>
                        200 clinical hrs / 155 community hrs
                    </td>
                </tr>
            </table>

        </div>
    </div>







</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <form id="hireAGradForm" name="hireAGradForm" method="post" action="/home/hireAGrad">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240011" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Contact First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Contact Last Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="LastName">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Organization Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="OrganizationName">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Email Address: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="EmailAddress">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Phone Number: <span class="text-danger"></span></label>
                    <input type="text" class="form-control pull-right" name="PhoneNumber">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Purpose:</label>
                    <select name="custfield21" id="custfield21" class="form-control pull-right">
                        <option value="0">Select</option>
                        <option value="Hiring a student">Hiring a student</option>
                        <option value="Posting a job">Posting a job</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Is there anything you would like to tell us?</label>
                    <textarea class="form-control pull-right" name="Comment1"></textarea>
                </div>
                <div class="text-center">
                    <input id="hireAGradSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>
</div>
