@{
    ViewBag.Title = "New Horizons Computer Learning Centers of Toronto - Canada's top I.T. training partner.";
}

<div class="hidden-xs">
    <ul class="rslides">
        <li>
            <img src="~/Content/images/infoseminar.jpg" />
            <div class="container" style="position:relative; ">
                <a href="mailto:chris@medixcollege.ca?subject=New%20Lead%20IT%20Seminar%20Tuesdays">
                   
                        <p class="caption2 captionChar">

                            JOIN US FOR A MONTHLY SEMINAR EVERY TUESDAY FROM 11am to 1pm

                        </p>
                    </a>


</div>
        </li>
        <li>
            <img src="~/Content/images/main-banner-1.jpg" />
            <div class="container" style="position:relative; ">
                <p class="caption2 captionChar">
                    WORLD CLASS TECHNICAL TRAINING
                </p>
            </div>
        </li>
        <li>
            <img src="~/Content/images/main-banner-2.jpg" />
            <div class="container" style="position:relative;">
                <p class="caption2 captionChar">
                    @Html.ActionLink("IT SERVER ADMINISTRATOR PROGRAM STARTING SOON", "ITServiceAdministrator", "Programs") &nbsp;<span class="glyphicon glyphicon-forward f25"></span>
                </p>
            </div>
        </li>
        <li>
            <img src="~/Content/images/main-banner-3.jpg" />
            <div class="container" style="position:relative;">
                <p class="caption2 captionChar">
                    UPGRADE YOUR SKILLS
                </p>
            </div>
        </li>
        <li>
            <img src="~/Content/images/main-banner-4.jpg" />
            <div class="container" style="position:relative;">
                <p class="caption2 captionChar">
                    A VARIETY OF TRAINING METHODS AVAILABLE
                </p>
            </div>
        </li>
        <li>
            <img src="~/Content/images/main-banner-5.jpg" />
            <div class="container" style="position:relative; ">
                <p class="caption2 captionChar">
                    BUSINESS SOLUTIONS FOR CORPORATIONS               </p>
            </div>
        </li>

    </ul>
</div>








<div class="container-fluid containerlinkOptionsWrapper">
    <div class="container">
        <h1 class="contentH1-main2">
            LEARN MORE ABOUT NEW HORIZONS:
        </h1>
        <hr class="hrpblue" />
        <div class="linkOptionsWrapper">
            <div class="linkOptions allPrograms visible-md visible-sm visible-xs linkOptionsFP" id="allPrograms">
                <i class="fa fa-search goldColour"></i>
                <label class="contentH3-white">FIND PROGRAMS</label>
            </div>
            <div class="linkOptions linkOptionsRC home col-md-3 hidden-xs" id="requestCatalogue">
                <i class="fa fa-book blueColor"></i>
                <label class="contentH3-blue">REQUEST CATALOGUE</label>
            </div>
            <div class="linkOptions linkOptionsAQ home col-md-3 hidden-xs" id="askQuestion">
                <i class="fa fa-comment blueColor"></i>
                <label class="contentH3-blue">ASK A QUESTION</label>
            </div>
            <div class="linkOptions linkOptionsTC home col-md-3 hidden-xs" id="tourCampus">
                <i class="fa fa-home blueColor"></i>
                <label class="contentH3-blue">TOUR A CAMPUS</label>
            </div>
            <div class="linkOptions linkOptionsAN home col-md-3 hidden-xs" id="apply">
                <i class="fa fa-bookmark blueColor"></i>
                <label class="contentH3-blue">APPLY NOW</label>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="container hidden-lg hidden-md hidden-sm">

    <div class="panel panel-default">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate=""  method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID" required="">
                        <option value="0">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID" required="">
                        <option value="0">Select</option>
                        <option value="38882">Anatomy &amp; Physiology</option>
                        <option value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option value="632">Community Service Worker</option>
                        <option value="39478">CPR &amp; First Aid</option>
                        <option value="818">Dental Level 2</option>
                        <option value="38883">Dental Office Procedures (abel dent)</option>
                        <option value="634">Developmental Service Worker</option>
                        <option value="38526">Early Childhood Assistant</option>
                        <option value="642">ECG</option>
                        <option value="37255">Fitness &amp; Health Promotion</option>
                        <option value="39162">Intramuscular Injection</option>
                        <option value="627">Intra-Oral Dental Assistant </option>
                        <option value="629">Massage Therapy</option>
                        <option value="633">Medical Laboratory Assistant / Technician</option>
                        <option value="630">Medical Office Administrator</option>
                        <option value="1170">Medical Terminology</option>
                        <option value="38887">Medical Transcription</option>
                        <option value="39415">Mental Health &amp; Addictions</option>
                        <option value="1169">OHIP Billing</option>
                        <option value="631">Personal Support Worker</option>
                        <option value="628">Pharmacy Assistant</option>
                        <option value="636">Phlebotomy</option>
                        <option value="1167">Principles of Nutrition</option>
                        <option value="643">PSW Upgrading</option>
                        <option value="1171">Thought Patterns</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Question: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>


</div>




<div class="container-fluid containervideoItem">
    <div class="container">
        <div class="videoWrapper">
            <div class="col-md-6 wrapper">
                <div class="videoItem1">
                    <div>
                        <h3 class="contentH1-mainW">
                            NEW HORIZON VIDEOS
                            <span class="pull-right">
                                <i class="fa fa-caret-left videoScrollerNav prev"></i>
                                <i class="fa fa-caret-right videoScrollerNav next"></i>
                            </span>
                        </h3>
                    </div>
                    <div class="video clearfix">
                        <iframe class="videoIFrame active" src="https://www.youtube.com/embed/VUuzmMunDHk?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/4YtTCDEErGA?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>

                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/_mQtv0uUCfM?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/g3eH7a2CHnI?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wrapper">
                <div class="videoItem2">
                    <div>
                        <h3 class="contentH1-mainW">
                            LEARN MORE
                            <span class="pull-right">
                                <i class="fa fa-caret-left videoScrollerNav prev"></i>
                                <i class="fa fa-caret-right videoScrollerNav next"></i>
                            </span>
                        </h3>
                    </div>
                    <div class="video clearfix">
                        <iframe class="videoIFrame active" src="https://www.youtube.com/embed/GR3hNv6UK4A?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/Bb4gbiIdNDQ?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                        <iframe class="videoIFrame" src="https://www.youtube.com/embed/TcQ3LSs6fFY?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



<br />

<div class="container">

    <h1 class="contentH1-mainW contentH2-white-graybg">
        NEW HORIZONS WORKS WITH WORLD CLASS PARTNERS:
    </h1>

    <img src="~/Content/images/VendorsV3.jpg" class="img-responsive" alt="New Horizons Vendors" />



    <div class="clearfix"></div>

</div>
<br />

<div class="container-fluid containervideoItem2">
    <div class="container">
        <div class="videoWrapper">
            <div class="col-md-6">
                <div class="videoItem3">
                    <div>
                        <h3 class="contentH1-mainW">
                            ENRICHED ACADEMY
                        </h3>
                    </div>
                    <div class="video clearfix">
                        <iframe class="videoIFrame active" src="https://www.youtube.com/embed/TUF70exWJ1Q?rel=0 " autoplay="false" frameborder="0" allowfullscreen></iframe>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-6 wrapper">
                <div class="videoItem3">
                    <div>
                        <h3 class="contentH1-mainW">
                            WHY ENRICHED ACADEMY IS IMPORTANT FOR STUDENTS
                        </h3>
                        <h2 class="contentH3-white">
                            Learning about personal finances is a critical life skill that people do not normally have access to in traditional educational settings.
                            New Horizons has teamed up with Dragon's Den alumni Enriched Academy to offer students the necessary skills to ensure financial stability after their educational career is completed.
                            <br /><br />Enriched Academy ensures that students are aware of their financial position and enables them to make educated choices regarding their income. 
                            Graduates of the New Horizon's diploma programs will gain not only the knowledge and skills in their course of study, but also the foundation to ensure that their financial decisions in the future will be made with confidence.
                            <br /><br />Enriched Academy will cover a number of main topics including: <br />
                            <ul>
                                <li>Savings</li>
                                <li>Investing</li>
                                <li>Credit</li>
                                <li>Personal Branding</li>
                                <li>Sales</li>
                            </ul>
                        </h2>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>






<script>
    $(document).ready(function () {
        $('.promoWrapper').parent().removeClass("container").removeClass("body-content");
        $('video, audio').mediaelementplayer({
            videoWidth: '100%',
            videoHeight: '100%'
        });

        var $vid = $('video');
        var $applyButton = $('#applyOnline');
        var $findProgramsButton = $('#findPrograms');
        var $header = $('.promoHeader');

        $applyButton.css({
            top: ($vid.height() / 3) + 50,
            left: ($vid.width() / 2) - ($applyButton.width() / 2) - 100
        });

        $findProgramsButton.css({
            top: ($vid.height() / 3) + 50,
            left: ($vid.width() / 2) - ($findProgramsButton.width() / 2) + 100
        });

        $header.css({
            top: $vid.height() / 3,
            left: ($vid.width() / 2) - ($header.width() / 2)
        });

        $('.socialMobileLink').click(function (e) {
            var content = $('.mobile-content.' + $(this).attr("id"));

            if (content.hasClass("hidden-xs")) {
                content.removeClass("hidden-xs");
            } else {
                content.addClass("hidden-xs");
            }

            e.preventDefault();
        });

        $('#allPrograms').click(function () {
            window.location = "/programs/allprograms";
        });

        $('#applyOnline').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#requestCatalogue').click(function () {
            $('.popup-form-wrapper').hide();
            $('#requestCatalogueWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#askQuestionMain, #askQuestion').click(function () {
            $('.popup-form-wrapper').hide();
            $('#askQuestionWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#tourCampus').click(function () {
            $('.popup-form-wrapper').hide();
            $('#tourCampusWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#apply').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('.newsListItem').click(function () {
            window.location = "/Home/NewsArticle?id=" + $(this).attr("id");
        });

        $('.videoScrollerNav.next').click(function () {
            var current = $(this).parent().parent().parent().next(".video").children(".videoIFrame.active");
            var next = current.next(".videoIFrame");

            current.removeClass("active");

            if (next.length > 0) {
                next.addClass("active");
            } else {
                var last = $(this).parent().parent().parent().next(".video").children(".videoIFrame").last();

                last.addClass("active");
            }
        });

        $('.videoScrollerNav.prev').click(function () {
            var current = $(this).parent().parent().parent().next(".video").children(".videoIFrame.active");
            var prev = current.prev(".videoIFrame");

            current.removeClass("active");

            if (prev.length > 0) {
                prev.addClass("active");
            } else {
                var first = $(this).parent().parent().parent().next(".video").children(".videoIFrame").first();

                first.addClass("active");
            }
        });
    });

    $(window).load(function () {
        $(".rslides").responsiveSlides({
            pagination: true,
            nav: true,
            fade: 500
        });

        $("#graduatesImageScroller").flexisel({
            autoPlay: false,
            visibleItems: 5
        });
    });
</script>

