<div class="col-lg-8 col-lg-offset-2">
    <div class="contentBodyHeader">
        <h2><strong>@ViewBag.Title</strong></h2>
    </div>

    <div class="spacer-top">
        <h3 class="date spacer-top">
            @ViewBag.NewsDate.ToString("MMMM d, yyyy")
        </h3>
        <hr />
        <p>
            @Html.Raw(ViewBag.NewsBody)
        </p>
    </div>
</div>

