@model List<MedixCollege.Models.NewsArticleDTO>
@{
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}
@{
    ViewBag.Title = "News Directory";
}

<div class="contentHeader">
    News Directory
</div>

<div class="spacer-top">
    <h2 class="date spacer-top">
        March 2015
    </h2>
    <hr />
    <ul class="list-unstyled newsList">
        @foreach (var article in Model)
        {
            <li class="newsListItem" id="@article.Id">
                <div><strong>@article.Title</strong></div>
                <div class="date">@article.Date</div>
                <div>Summary</div>
            </li>
        }
    </ul>
</div>

<script>
    $(document).ready(function () {
        $('.newsListItem').click(function () {
            window.location = "/Home/NewsArticle?id=" + $(this).attr("id");
        });
    });
</script>


