@{
    Layout = null;
}
<link rel="stylesheet" type="text/css" href="@Url.Content("../Content/bootstrap.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("../Content/creativeButtonsDefault.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("../Content/creativeButtons.css")" />
<div class="container">
    <section class="color-1">
        <p class="text note-touch">Note that on mobile devices the effects might not all work as intended.</p>
        <p>
            <button class="btn btn-1 btn-1a">Button</button>
            <button class="btn btn-1 btn-1b">Button</button>
            <button class="btn btn-1 btn-1c">Button</button>
        </p>
        <p>
            <button class="btn btn-1 btn-1d">Button</button>
            <button class="btn btn-1 btn-1e">Button</button>
            <button class="btn btn-1 btn-1f">Button</button>
        </p>
    </section>
</div><!-- /container -->
