@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}
@{
    ViewBag.Title = "Contact Medix Online";
}

<h2>Contact Medix Online</h2>
<div class="col-lg-8">
    <form id="applyNowForm" name="applyNowForm" method="post" action="/MedixOnline/ContactMedixOnline">
        <div class="input-group spacer-top">
            <label class="pull-left">First Name: <span class="text-danger">*</span></label>
            <input type="text" class="form-control pull-right" name="FirstName">
        </div>
        <div class="input-group spacer-top">
            <label class="pull-left">Last Name: <span class="text-danger">*</span></label>
            <input type="text" class="form-control pull-right" name="LastName">
        </div>
        <div class="input-group spacer-top">
            <label class="pull-left">Email: <span class="text-danger">*</span></label>
            <input type="email" class="form-control pull-right" name="Email">
        </div>
        <div class="input-group spacer-top">
            <label class="pull-left">Telephone: <span class="text-danger">*</span></label>
            <input type="text" class="form-control pull-right" name="Telephone">
        </div>
        <div class="input-group spacer-top">
            <label class="pull-left">Preferred Program: <span class="text-danger">*</span></label>
            <select class="form-control" name="ProgramID" id="ProgramID">
                <option value="0">Select</option>
                <option value="38882">Anatomy &amp; Physiology</option>
                <option value="38885">Dental Assisting Level II Online Ebooks Incld.</option>
                <option value="40143">Dental Assisting Level II Online no Ebooks</option>
                <option value="38883">Dental Office Procedures (abel dent)</option>
                <option value="1170">Medical Terminology</option>
                <option value="39438">Medical Terminology and OHIP Package</option>
                <option value="39439">Medical Terminology and Transcription Package</option>
                <option value="38887">Medical Transcription</option>
                <option value="38884">Pre-Science Package (MedTerm, Bio and Chem)</option>
                <option value="1167">Principles of Nutrition</option>
                <option value="1171">Thought Patterns</option>
            </select>
        </div>
        <div class="input-group spacer-top">
            <label class="pull-left">Comments: </label>
            <textarea class="form-control pull-right" name="Comments"></textarea>
        </div>
        <div class="small-text spacer-top text-center">
            Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
        </div>
        <div class="text-center">
            <input id="contactMedixOnlineSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
        </div>
    </form>
</div>

