@{
    Layout = "~/Views/MedixOnline/_MedixOnlineLayout.cshtml";
}
@{
    ViewBag.Title = "Contact Medix Online";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">CONTACT MEDIX ONLINE</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About Medix Online", "Index", "MedixOnline")</li>
        <li class="active contentp">Contact Medix Online</li>
    </ol>
</div>


<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">CONTACT MEDIX ONLINE</h1>
        </div>
        <div class="panel-body">
            <p class="contentp">
                To contact us directly, please <a href="mailto:anthony@medixonline.ca?subject=Medix%20Online%20-%20Question%20%2F%20Concern">
                    e-mail us
                </a>.<br /><br />

                Available by phone <span class="blueColor"><span class="glyphicon glyphicon-earphone"></span></span> <span class="blueColor">(416) 916-6846</span><br /><br />


                or, fill out this simple form if you have a question, concern, or just a general inquiry; and someone from the friendly team at Medix Online will get back to you shortly!

            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">SUBMIT APPLICATION</h1>
        </div>
        <div class="panel-body">
            <iframe onload="scroll(0,0);" allowtransparency="allowtransparency" frameborder="0" height="1075" scrolling="yes" src="http://form1.campuslogin.com/ORG/Medix/application/AppOnline.aspx?&amp;thankyouurl=http://www.medixonline.ca/apply_online_thank_you/" width="100%"></iframe></p>
        </div>
    </div>

</div>


<div class="col-sm-4 pull-right">
    <div class="panel panel-default">

        <div class="row formWrapper overquestionsForm">

            <form id="medixOnlineQuestionsForm" name="medixOnlineQuestionsForm" class="questionsForm" method="post" action="/MedixOnline/ContactMedixOnlineForm">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; CONTACT MEDIX ONLINE
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left" for="formlastname">Last Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Lastname" id="formlastname" />
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left" for="formtelephone">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" for="formtelephone" />
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID" id="ProgramID">
                        <option value="0">Select</option>
                        <option value="38882">Anatomy &amp; Physiology</option>
                        <option value="38885">Dental Assisting Level II Online Ebooks Incld.</option>
                        <option value="40143">Dental Assisting Level II Online no Ebooks</option>
                        <option value="38883">Dental Office Procedures (abel dent)</option>
                        <option value="1170">Medical Terminology</option>
                        <option value="39438">Medical Terminology and OHIP Package</option>
                        <option value="39439">Medical Terminology and Transcription Package</option>
                        <option value="38887">Medical Transcription</option>
                        <option value="38884">Pre-Science Package (MedTerm, Bio and Chem)</option>
                        <option value="1167">Principles of Nutrition</option>
                        <option value="1171">Thought Patterns</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>


        </div>


    </div>
