@{
    Layout = "~/Views/DiscoverMedix/_DiscoverMedixLayout.cshtml";
}
@{
    ViewBag.Title = "Careers At Medix";
}

<h1 class="contentPageH1">CAREERS AT MEDIX</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix", "Index", "DiscoverMedix")</li>
    <li class="active contentp">Careers at Medix</li>
</ol>

<p class="contentp">Medix College is always continuing to provide quality 
    
    
    is more than a place to work, it is a community and family. committed to  respects, appreciates and encourages diversity. Applications from all qualified individuals are encouraged.</p>

<br />

<p class="contentp">
    To apply for any positions, kindly email us your resume and please quote the name of the position in the subject line.
</p>
