@{
    Layout = "~/Views/DiscoverMedix/_DiscoverMedixLayout.cshtml";
}

@{
    ViewBag.Title = "Transcript Request";
    ViewBag.PageDescription = "The London Medix College Campus provides transcripts to students at their request";
    ViewBag.HeaderTitle = "Transcript Request";
}

<p>
    <label class="contentBodyHeader">London Campus ONLY</label>
</p>


<p>
    <label class="contentBodyHeader">
        The Administration office maintains the permanent academic records for all students.
    </label>
</p>


<p>
    An official transcript is printed on safety paper and carries the registrar's signature certifying its

    authenticity. To order, either complete a transcript order form, or send an email or fax containing the

    following information:
</p>

<ul>
    <li>Current name, and name under which you were registered</li>

    <li>SIN and/or student ID number</li>

    <li>Complete address to which the transcript is to be sent</li>

    <li>Approximate dates you attended Medix College and/or graduation date</li>

    <li>Date of birth</li>

    <li>Current address and phone number</li>

    <li>Your signature</li>
</ul>


<p>
    Please remember that requests with incomplete information cannot be processed.
</p>

<p>
    Official transcripts are $25 each. Payment is required at the time of the request. Overnight or priority

    mailing request fees are in addition to the cost of the transcript.
</p>
<ul>
    <li>
        Download Transcript Request
    </li>
</ul>

<p>
    <label class="contentBodyHeader"> Mail orders should be sent to:</label>
</p>


<p>
    <strong>Medix College </strong>

    <div>Attn: Administration </div>

    <div>303 Richmond Street </div>

    <div>London, ON  N6B 2H8</div>

<p>Medix College accepts the following forms of payment:</p>

<ul>
    <li>Visa  </li>

    <li>Master Card  </li>

    <li>Cash  </li>

    <li>Interac  </li>
</ul>


<p>
    If faxing the request, please include the credit card type, the card number and expiration date.  The fax

    number to request transcripts is 519-659-2516.
</p>

<p>
    *Please contact the Administration office at 519-659-4822 if you have special mailing requests such as

    overnight or priority delivery.
</p>

<p>
    <label class="contentBodyHeader">NO REQUEST WILL BE HONORED IF YOU HAVE A FINANCIAL HOLD.</label>
</p>