@{
    Layout = "~/Views/DiscoverMedix/_DiscoverMedixLayout.cshtml";
}
@{
    ViewBag.Title = "Virtual Tour";
}

<h1 class="contentPageH1">VIRTUAL TOUR</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix", "Index", "DiscoverMedix")</li>
    <li class="active contentp">Virtual Tour</li>
</ol>
<br />

<a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixbram/mht.html')">BRAMPTON</a>
<br />
<a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixbran/mht.html')">BRANTFORD</a>
<br />
<a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixkit/mht.html')">KITCHENER</a>
<br />
<a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixlon/medix.html')">LONDON</a>
<br />
<a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixlon/medix.html')">LONDON</a>
<br />
<a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixlon/medix.html')">LONDON</a>