@{
    Layout = "~/Views/DiscoverMedix/_DiscoverMedixLayout.cshtml";
}
@{
    ViewBag.Title = "Virtual Tour";
}

<h1 class="contentPageH1">VIRTUAL TOUR</h1>
<ol class="breadcrumb">
    <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="contentp">@Html.ActionLink("About Medix", "Index", "DiscoverMedix")</li>
    <li class="active contentp">Virtual Tour</li>
</ol>
<br />

<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixbram/mht.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-new-window"></span>&nbsp;BRAMPTON</h1></a>
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixbran/mht.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-new-window"></span>&nbsp;BRANTFORD</h1></a>
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixkit/mht.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-new-window"></span>&nbsp;KITCHENER</h1></a>
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <a href="javascript: void(0)" onclick="popup('http://www.myhometour.ca/1medixlon/mht.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-new-window"></span>&nbsp;LONDON</h1></a>
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <a href="javascript: void(0)" onclick="popup('http://medixcollege.ca/web/_virtualtours/scarborough/index.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-new-window"></span>&nbsp;SCARBOROUGH</h1></a>
        </td>
    </tr>
</table>

<table class="table table-bordered">
    <tr>
        <td width="100%" class="active">
            <a href="javascript: void(0)" onclick="popup('http://medixcollege.ca/web/_virtualtours/toronto/index.html')"><h1 class="contentH1">&nbsp;<span class="glyphicon glyphicon-new-window"></span>&nbsp;TORONTO</h1></a>
        </td>
    </tr>

</table>



    <br />
