@{
    Layout = "~/Views/CorporateTraining/_CorporateTrainingLayout.cshtml";
}

@{
    ViewBag.Title = "Citrix - New Horizons Computer Learning Centers of Toronto";
    ViewBag.PageDescription = "Learn more about Citrix from New Horizons Computer Learning Centers of Toronto";
}

<div class="col-sm-12 botMARG">
    <h1 class="contentPageH1">CITRIX</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">Citrix</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/corporatepromotion.jpg" alt="Job interview taking place between a group of people." />

</div>

<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">Citrix</h1><hr class="hrp" />
            <p class="contentp">
                Citrix is a leader in mobile workspace solutions for businesses and enterprises worldwide. Citrix's products permit the user to implement and maintain:
            </p>
            <ul class="contentp">
                <li>Server, application, and desktop virtualization.</li>

                <li>Networking.</li>

                <li>Software as service.</li>

                <li>Cloud computing technologies, including open source products.</li>
            </ul>
            <br />
            <h1 class="contentH1">Value of Learning Citrix

</h1><hr class="hrp" />

            <p class="contentp">
                Citrix solutions power business mobility, allowing employees in different locations to connect and work together in real time. Mobile solutions contribute to a happier workforce. Users can choose the ideal time and place for their work, while gaining instant access to secure business information over any network.
                <br/><br />
                Adopting Citrix's desktop virtualization systems allows for a simplified IT structure with increased productivity, collaboration, and the secure exchange of information.
                <br /><br />
                By virtualizing systems into a datacenter or cloud environment, an organization can greatly reduce costs of application and desktop management. Virtual desktops cost less than individual PCs, and virtualization makes it easier to implement centralized IT services.
            </p>

        </div>
    </div>












    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;<a href="http://www.nhtorontocanada.com/training-and-certifications/citrix">LEARN MORE ABOUT CITRIX</a></button>



    <br />

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Contact")</button>
    <br />
</div>
<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrp11" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="24005">New Horizons Toronto</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option class="0 24005" value="41050">IT Enterprise Professional</option>
                        <option class="0 24005" value="41049">IT Help Desk Associate</option>
                        <option class="0 24005" value="41048">IT Office</option>
                        <option class="0 24005" value="41040">IT Server Administrator Professional</option>
                        <option class="0 24005" value="41051">IT Service Technician</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>



</div>


