@{
    Layout = "~/Views/CorporateTraining/_CorporateTrainingLayout.cshtml";
}

@{
    ViewBag.Title = "Corporate Training";
    ViewBag.PageDescription = "Employment counselling and job search training is provided for all students during their program by scheduled classroom lectures and ongoing individualized counselling";
    ViewBag.HeaderTitle = "Corporate Training";
}

<div class="col-sm-12 botMARG">
    <h1 class="contentPageH1">CORPORATE TRAINING</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">Corporate Training</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/corporatetraining.jpg" alt="Group of people working behind a computer" />

</div>

<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">Keep your people and your business advancing.</h1><hr class="hrp" />
            <p class="contentp">
                The bar for staying competitive in any marketplace keeps rising. New Horizons recognizes that no matter what size your company, your education and training budget needs to show as much return on investment as your other business decisions. 
                <br /><br />
                Our IT training solutions have kept businesses—from startups to global enterprises—ahead of the technology curve for over 30 years.
                <br/><br/>
               
                In 300 learning centers and 70 countries around the world, New Horizons has helped companies see tangible, measurable results by continuously upgrading the capabilities and skills of their most important assets with the most in-demand training solutions. New Horizons combines the resources of the world’s largest independent IT training company with the responsiveness of a local partner.
                <br /><br />
                Whether your company is 50 or 50,000 strong (or somewhere in between), New Horizons creates unique IT training and professional development solutions that work.

            </p>
           
            <br />
            <h1 class="contentH1">MICROSOFT SOFTWARE ASSURANCE TRAINING VOUCHERS</h1><hr class="hrp" />
            <h2 class="contentH2">A low-cost way to improve IT staff productivity.</h2>

    <p class="contentp">
        The Microsoft Software Assurance Training Voucher (SATV) program delivers training, consultation and assessment options to boost and refresh employee knowledge and skills on the latest Microsoft operating systems, enterprise-ready applications and software development tools.
        <br /><br />
        Training vouchers are a simple way to streamline your IT training budget—entitling employees to courses for a certain number of training days that can be applied to select official Microsoft Learning Product courses available worldwide. The number of days depends on the product and number of qualifying purchases.
        <br /><br />
        Microsoft Volume License customers with Software Assurance benefits can use training vouchers to access instructor-led technical training courses and support material at no additional cost. Your Software Assurance Benefits Administrator designates Training Vouchers on the Microsoft Volume License Services (MVLS) website. Questions about how and where to redeem your vouchers, or even whether you have them? Please visit our common questions page.
                <br /><br />
        But in choosing education and training providers, it's important to make sure the money you're investing translates into tangible results: increased employee productivity, improved performance at their jobs, higher morale, greater retention and reduced recruiting costs. In the end, education and training must give your business a competitive edge.
    </p>

</div>
    </div>

















    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>
<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrp11" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="24005">New Horizons Toronto</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option class="0 24005" value="41050">IT Enterprise Professional</option>
                        <option class="0 24005" value="41049">IT Help Desk Associate</option>
                        <option class="0 24005" value="41048">IT Office</option>
                        <option class="0 24005" value="41040">IT Server Administrator Professional</option>
                        <option class="0 24005" value="41051">IT Service Technician</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    

</div>
