@{
    Layout = "~/Views/CorporateTraining/_CorporateTrainingLayout.cshtml";
}

@{
    ViewBag.Title = "Corporate Promotions";
    ViewBag.PageDescription = "Employment counselling and job search training is provided for all students during their program by scheduled classroom lectures and ongoing individualized counselling";
    ViewBag.HeaderTitle = "Corporate Promotions";
}

<div class="col-sm-12 botMARG">
    <h1 class="contentPageH1">MICROSOFT APPLICATIONS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">Microsoft Applications</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/corporatepromotion.jpg" alt="Job interview taking place between a group of people." />

</div>

<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">Benefits of Learning Microsoft Office</h1><hr class="hrp" />
            <p class="contentp">
                Microsoft Office is a set of desktop applications that offer flexible and powerful ways to organize, manage, and present information. Universally used in office settings, knowledge of Microsoft Office tools are a must for anyone in today's job market.
                <br/><br/>
                Microsoft Office products help improve work efficiency with user friendly features that enable easy and secure information sharing. Microsoft Office products provide resources for professional presentation of data that is compatible with most operating systems.
            </p>
            <br/>
            <h1 class="contentH1">Microsoft Office Training at New Horizons Toronto</h1><hr class="hrp" />
            <p class="contentp">
                Whether you are looking to expand your Microsoft Office skills for personal use, embarking on a new career, or working towards career advancement, New Horizons Toronto has the Microsoft Office training that you are looking for.
                <br /><br />
                New Horizons Toronto designs its Microsoft Office classes to get the student engaged in real life situations, so that you or your team can take the skills learned and apply them to everyday scenarios. In fact, over 98% of New Horizons students indicate higher on the job productivity levels.
                <br /><br />
                Microsoft Office training from New Horizons Toronto will help you or your team effectively utilize all the features of Microsoft Office products, and set you or your team up for Microsoft certifications, if desired. All of our trainers are Microsoft Certified.
              </p>

        </div>
    </div>



    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;<a href="http://www.nhtorontocanada.com/training-and-certifications/microsoft-office">Microsoft Office Overview</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;<a href="http://www.nhtorontocanada.com/training-and-certifications/microsoft-office/excel">Microsoft Excel</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;<a href="http://www.nhtorontocanada.com/training-and-certifications/microsoft-office">Microsoft Word</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;<a href="http://www.nhtorontocanada.com/training-and-certifications/microsoft-office/excel">Microsoft Outlook</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;<a href="http://www.nhtorontocanada.com/training-and-certifications/microsoft-office/excel">Microsoft Publisher</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;<a href="http://www.nhtorontocanada.com/training-and-certifications/microsoft-office">Microsoft Powerpoint</a></button>
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;<a href="http://www.nhtorontocanada.com/training-and-certifications/microsoft-office/excel">Microsoft Access</a></button>











</div>
<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrp11" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="24005">New Horizons Toronto</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option class="0 24005" value="41050">IT Enterprise Professional</option>
                        <option class="0 24005" value="41049">IT Help Desk Associate</option>
                        <option class="0 24005" value="41048">IT Office</option>
                        <option class="0 24005" value="41040">IT Server Administrator Professional</option>
                        <option class="0 24005" value="41051">IT Service Technician</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>



</div>


