@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

<p>
    Medix College provides training in healthcare programs preparing students for ever growing healthcare

    industry in Canada. The objective of the healthcare program training is to equip the students with the

    most current theory and practical training necessary to become successful health care professional. The

    curriculum relies on two fundamental principles; firstly, teach to foster an understanding of the material

    versus memorization of the material, and secondly, allowing the students to process information

    through practical experience.  Practical experience is provided to our students through laboratories and

    an opportunity to shadow experienced workers in the field.  Professional healthcare training helps

    Medix students to secure employment in various prestigious health care organizations across Ontario.
</p>
<br />
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
                    SEARCH BY PROGRAMS (Expand and Collapse)
                </a>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th width="50%">Community Service Worker</th>
                        <td width="50%">
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th>Child and Youth Care with Addictions Support Worker</th>
                        <td>
                            Brantford<br />
                            Scarborough
                        </td>
                    </tr>
                    <tr>
                        <th>Dental Assistant Level II</th>
                        <td>
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th>Developmental Service Worker</th>
                        <td>
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th>Early Childcare Assistant</th>
                        <td>
                            Brampton<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th>Intra-Oral Dental Assistant</th>
                        <td>
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th>Massage Therapy</th>
                        <td>
                            Brampton<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th>Medical Lab Assistant / Technician</th>
                        <td>
                            Brampton<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th>Medical Office Administrator</th>
                        <td>
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th>Personal Support Worker</th>
                        <td>
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th>Pharmacy Assistant</th>
                        <td>
                            Brampton<br />
                            Brantford<br />
                            Kitchener<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                    <tr>
                        <th>Fitness and Health Promotion</th>
                        <td>
                            Brampton<br />
                            London<br />
                            Scarborough<br />
                            Toronto
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo">
                    SEARCH BY CAMPUS (Expand and Collapse)
                </a>
            </div>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-bordered">
                    <tr>
                        <th width="50%">Brampton</th>
                        <td width="50%">
                            <a href="/Programs/CommunityServiceWorker">Community Service Worker</a>
                            <br />

                            Early Childcare Assistant<br />

                            Fitness and Health Promotion<br />

                            Intra Oral Dental Assistant<br />

                            Massage Therapy<br />

                            Medical Lab Assistant / Technician<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />
                        </td>
                    </tr>
                    <tr>
                        <th>Brantford</th>
                        <td>
                            Community Service Worker<br />

                            Developmental Service Worker<br />

                            Intra Oral Dental Assistant<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />

                            Child and Youth Care with Addictions Support Worker<br />
                        </td>
                    </tr>
                    <tr>
                        <th>Kitchener</th>
                        <td>
                            Community Service Worker<br />

                            Developmental Service Worker<br />

                            Intra Oral Dental Assistant<br />

                            Massage Therapy<br />

                            Medical Lab Assistant / Technician<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />
                        </td>
                    </tr>
                    <tr>
                        <th>London</th>
                        <td>
                            Community Service Worker<br />

                            Developmental Service Worker<br />

                            Intra Oral Dental Assistant<br />

                            Massage Therapy<br />

                            Medical Lab Assistant / Technician<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />

                            Fitness and Health Promotion<br />
                        </td>
                    </tr>
                    <tr>
                        <th>Scarborough</th>
                        <td>
                            Community Service Worker<br />

                            Early Childcare Assistant<br />

                            Fitness and Health Promotion<br />

                            Intra Oral Dental Assistant<br />

                            Massage Therapy<br />

                            Medical Lab Assistant / Technician<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />

                            Child and Youth Care with Addictions Support Worker<br />
                        </td>
                    </tr>
                    <tr>
                        <th>Toronto</th>
                        <td>
                            Community Service Worker<br />

                            Early Childcare Assistant<br />

                            Fitness and Health Promotion<br />

                            Intra Oral Dental Assistant<br />

                            Massage Therapy<br />

                            Medical Lab Assistant / Technician<br />

                            Medical Office Administrator<br />

                            Personal Support Worker<br />

                            Pharmacy Assistant<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
