@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Early Childcare Assistant Program</label>
</p>
<p class="underline">
    PROGRAM SUMMARY
</p>
<p>
    The Early Childcare Assistant program at Medix College provides training for individuals looking for a

    rewarding career working in the Early Childhood Assistant field. Early Childhood Assistants (under the

    guidance of the Teacher) provide a safe and nurturing environment for children that encourages their

    social, emotional, physical and intellectual development through designing and implementing a

    developmentally appropriate curriculum according to established guidelines.
</p>
<p>

    The Early Childcare Assistant program was designed to equip childcare workers with valuable

    knowledge, skills and experience for employment as Assistants in day care centres or early learning

    centres. The program was designed to give students an overview of the responsibilities of an early

    childcare assistant and opportunities to perform those duties. It presents foundational skills needed for

    those seeking to move into an Early Childhood Educator program. The Program has been developed and

    accredited by NACC.
</p>
<p>

    There are employment opportunities for graduates of the Early Childcare Assistant program in

    Brantford, Brampton, Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London,

    Mississauga, Markham, Milton, North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and

    other cities across southern Ontario. 
</p>


<p class="underline">
    AVAILABILITY
</p>
<p class="italic">
    Which campuses offer the Early Childcare Assistant program?
</p>
<ul>
    <li>Brampton</li>

    <li>Scarborough</li>

    <li>Toronto</li>
</ul>

<p class="underline">
    EMPLOYMENT TYPES
</p>
<p class="italic">
    What career opportunities are available to graduates of the Early Childcare Assistant program?
</p>
<ul>
    <li>Child Care Workers</li>

    <li>Daycare Supervisors</li>

    <li>Preschool Helpers</li>

    <li>Early Childhood Educators</li>
</ul>

<p class="underline">
    EMPLOYMENT SECTORS
</p>
<p class="italic">
    Where do graduates of the Early Childcare Assistant program work?
</p>
<ul>
    <li>Childcare centres</li>

    <li>Ontario Early Years Centres</li>

    <li>Parent/Child Literacy Centres</li>

    <li>Private Regulated Home Based Child Care</li>

    <li>LINC child minding services</li>
</ul>

<p class="underline">
    COMMON JOB TASKS
</p>
<p class="italic">
    What are common job tasks for individuals working in the Early Childcare field?
</p>
<ul>
    <li>Working collaboratively with teachers to deliver Early Learning Programs</li>

    <li>
        Collaborating with teachers in planning, developing and implementing daily activities that support and promote the development of children
    </li>

    <li>Assisting children in washroom routines, dressing and lunchtime activities</li>

    <li>Completing anecdotal reports, observation checklists and developmental checklists</li>

    <li>Maintains on-going developmental records for each client</li>
</ul>

<p class="underline">
    MEDIX ADVANTAGE
</p>
<p class="italic">
    Why choose the Child and Youth Care with Addictions Support Worker(CYCWwas) Program at Medix College?
</p>
<p>
    Practical skill-building and a practicum component are used to give students a well-rounded

    understanding of the role of the Child and Youth Care with Addictions Support Worker. During the

    course of this program, students will learn all of the skills and be trained in all the procedures that will

    be required of them in their new careers.
</p>
<p>
    As a mandatory component of our programs, all Medix students are required to complete two off-site

    practicums (Practicum I & Practicum II) as well as a field placement component. Practicum I (112 hours)

    takes place concurrently during the first year and students will spend an average of 4 hours per week for

    28 weeks in either a group recreation, group care or community program setting. Practicum II (148

    hours) takes place concurrently during the second year and students will spend an average of 4 hours

    per week.
</p>
<p>
    Medix College also provides an employment advantage as we have established relationships with many

    employers in the field. As a result, employers in the field contact us before posting jobs to the general

    public giving current students and graduates of the program an advantage in the hiring process.
</p>
<p class="underline">
    ADMISSIONS PROCESS
</p>
<p>
    The admissions process for the Child and Youth Care with Addictions Support Worker (CYCWwas) Program is a four part process:
</p>
<ol>
    <li>
        <p class="italic">Initial Contact</p>

        Contact an admissions representative to schedule an appointment. The admissions representative

        will be able to answer any questions that you might have regarding the program or general

        questions about Medix College.
    </li>
    <li>
        <p class="italic">
            Confidential Interview
        </p>

        An interview will be completed in order to determine if students have the right attitude to be

        successful in the program.
    </li>
    <li>
        <p class="italic">
            Business Affairs Assessment
        </p>

        The business affairs assessment is an appointment to determine if students are eligible for one of

        the many financial aid options.
    </li>
    <li>
        <p class="italic">
            Enrollment
        </p>

        After the financial plan is in place, enrollment is official and students will be able to start classes in

        order to train for an exciting new career.
    </li>
</ol>
<p class="underline">
    FINANCIAL OPTIONS
</p>
<p>
    Students looking to start training in the Child and Youth Care with Addictions Support Worker

    (CYCWwas) Program have a number of options to finance their education. By exploring these options,

    students will be able to gain financial assistance and support as they are training for a career. Some

    financing options available to students include:
</p>
<ul>
    <li>Ontario Student Assistance Program (OSAP)</li>

    <li>Ontario Second Career</li>

    <li>Student Lines of Credit</li>

    <li>Canada Revenue Agency Lifelong Learning Plan (LLP)</li>
</ul>