@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "Fitness and Health Promotion Training Program - Medix College";
    ViewBag.PageDescription = "Learn more about Fitness and Health Promotion Training Program at Medix College.";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">FITNESS & HEALTH PROMOTION <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
        <li class="active contentp">Fitness and Health Promotion</li>
    </ol>
</div>



<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">PROGRAM SUMMARY</h1>
        </div>
        <div class="panel-body">

            <p class="contentp">
                The Fitness and Health Promotion Program at Medix College provides training for individuals looking for

                a rewarding career working as fitness and health professionals. The program is designed to educate

                students in the anatomy and physiology of all body systems, exercise prescription, fitness assessment,

                motivational techniques, business management, biomechanics, nutrition and much more. As society

                begins to emphasize personal health, the occupations and roles in this field will continue to increase.

                <br /><br />

                Fitness consultants perform initial fitness assessments to design exercise programs customized to an

                individual’s specific needs. They motivate clients, educate them on exercise and nutrition, and monitor

                progressions through regular re-assessments.

                <br /><br />

                Graduates from the Fitness and Health Promotion program have found jobs in Brantford, Brampton,

                Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London, Mississauga, Markham, Milton,

                North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and other cities across southern

                Ontario. 
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="contentH1">
                AVAILABILITY
            </h2>

        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                Which campuses offer the Fitness and Health Promotion program?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Brantford<br /><hr class="hrp">
                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;London<br /><hr class="hrp">
                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Scarborough<br /><hr class="hrp">
                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Toronto
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                EMPLOYMENT TYPES
            </h1>

        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                What career opportunities are available to graduates from the Fitness and Health Promotion program?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Fitness instructor<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Personal trainer<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Fitness Technician<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Fitness program organizer<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Nutrition worker<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Recreational facility coordinator
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                EMPLOYMENT LOCATIONS
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                Where do graduates of the Fitness and Health Promotion program work?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Commercial fitness facilities<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;YMCA/YWCA<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Recreational facilities<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;University and college recreational departments<br /><hr class="hrp">
                <span class="glyphicon glyphicon-home blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Public health departments
            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                COMMON JOB TASKS
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                What are common job tasks for individuals working in the Fitness and Health Promotion field?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Analyze and understand your clients’ needs and goals.
                <br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Demonstrate and instruct athletic, fitness or sports activities and techniques.
                <br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Monitor the wellness area, demonstrate technique and equipment use and lead small group exercise sessions.
                <br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Oversee bulletin boards, posters, member incentive programs and newsletters.
                <br /><hr class="hrp">
                <span class="glyphicon glyphicon-cog blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Design, develop and deliver social/recreational programs.

            </p>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">

                MEDIX ADVANTAGE
            </h1>
        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                Why choose the Fitness and Health Promotion Program at Medix College?
            </h2>
            <p class="contentp">
                Practical skill-building and a practicum component are used to give students a well-rounded

                understanding of the role of the Fitness and Health Promotion. During the

                course of this program, students will learn all of the skills and be trained in all the procedures that will

                be required of them in their new careers.

                <br /><br />

                As a component of our Fitness program, all Medix students are required to complete 160 hours of

                externship and boot camp. This component consists of a one week, on-site assessment and training,

                at the Professional Fitness Institute in Kansas City. Further details are available upon request.

                <br /><br />

                Medix College also provides an employment advantage as we have established relationships with many

                employers in the field. As a result, employers in the field contact us before posting jobs to the general

                public giving current students and graduates of the program an advantage in the hiring process.
            </p>
        </div>
    </div>

    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option value="38882">Anatomy &amp; Physiology</option>
                        <option value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option value="632">Community Service Worker</option>
                        <option value="39478">CPR &amp; First Aid</option>
                        <option value="818">Dental Level 2</option>
                        <option value="38883">Dental Office Procedures (abel dent)</option>
                        <option value="634">Developmental Service Worker</option>
                        <option value="38526">Early Childhood Assistant</option>
                        <option value="642">ECG</option>
                        <option value="37255">Fitness &amp; Health Promotion</option>
                        <option value="39162">Intramuscular Injection</option>
                        <option value="627">Intra-Oral Dental Assistant </option>
                        <option value="629">Massage Therapy</option>
                        <option value="633">Medical Laboratory Assistant / Technician</option>
                        <option value="630">Medical Office Administrator</option>
                        <option value="1170">Medical Terminology</option>
                        <option value="38887">Medical Transcription</option>
                        <option value="39415">Mental Health &amp; Addictions</option>
                        <option value="1169">OHIP Billing</option>
                        <option value="631">Personal Support Worker</option>
                        <option value="628">Pharmacy Assistant</option>
                        <option value="636">Phlebotomy</option>
                        <option value="1167">Principles of Nutrition</option>
                        <option value="643">PSW Upgrading</option>
                        <option value="1171">Thought Patterns</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Question: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;AVAILABILITY</h1>
        </div>
        <div class="panel-body">

            <p class="contentpheight">
                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Brampton<br /><hr class="hrp">

                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;London<br /><hr class="hrp">
                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Scarborough<br /><hr class="hrp">
                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Toronto
            </p>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        ADMISSIONS PROCESS
                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <h2 class="contentH2">
                        The admissions process for the Child and Youth Care with Addictions Support Worker Program is a four part process:
                    </h2>
                    <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
                    <p class="contentp">
                        Contact an admissions representative to schedule an appointment. The admissions representative

                        will be able to answer any questions that you might have regarding the program or general

                        questions about Medix College.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
                    <p class="contentp">
                        An interview will be completed in order to determine if students have the right attitude to be

                        successful in the program.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
                    <p class="contentp">
                        The business affairs assessment is an appointment to determine if students are eligible for one of

                        the many financial aid options.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
                    <p class="contentp">
                        After the financial plan is in place, enrollment is official and students will be able to start classes in

                        order to train for an exciting new career.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseOne" class="contentH2 noDecoration">
                        FINANCIAL OPTIONS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="contentp">
                        Students looking to start training in the Child and Youth Care with Addictions Support Worker Program have a number of options to finance their education. By exploring these options,

                        students will be able to gain financial assistance and support as they are training for a career. Some

                        financing options available to students include:
                    </p>

                    <p class="contentpheight">
                        <hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Second Career<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Out of Province Options<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Student Lines of Credit<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Lifelone Learning Plan<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;RESP<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Employment Ontario<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Monthly Payment Plan
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#programCampusList').change(function () {
            var campusId = $('#programCampusList option:selected').val();

            $.each($("#programProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });
    });
</script>
