@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

@{
    ViewBag.Title = "IT Server Administrator Professional Program - New Horizons IT Learning";
    ViewBag.PageDescription = "Learn more about the IT Server Administrator Professional Program at New Horizons IT Learning.";
}

<div class="col-sm-12 botMARG">
    <h1 class="contentPageH1">IT SERVER ADMINISTRATOR PROFESSIONAL <small class="contentH1-small">DIPLOMA PROGRAM</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Programs", "AllPrograms", "Programs")</li>
        <li class="active contentp">IT Server Administrator Professional</li>
    </ol>
    <img class="img-responsive" width="100%" src="/Content/images/it-sap-program.jpg" alt="IT server admin professional" />

</div>



<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">PROGRAM SUMMARY</h1>

        </div>
        <div class="panel-body">
            <p class="contentp">
                This Information Technology program is designed to empower students with skills and knowledge to increase their workplace competence and professional advantage. A balanced learning approach provides students with an appropriate skill set for their field of study while preparing them for the daily activities and duties to work as an IT Professional.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">PROFESSIONAL CERTIFICATION PREPARATION</h1>

        </div>
        <div class="panel-body">
            <p class="contentp">
                This program will prepare students for a Career College Group New Horizons Diploma. Professional IT certifications are the third party validation showing employers that our students have what it takes to succeed in the Information Technology industry. <br/><br/>In addition to the Diploma, this program will prepare students for the following certifications: <br/>CompTIA A+, CompTIA Network +, CompTIA Security +, Microsoft Certified Solutions Associate: MCSA Windows, Microsoft Certified Solutions Associate: MCSA Server, Cisco Certified Entry Networking Technician (CCENT), and Cisco Certified Network Associate (CCNA).            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">COURSE DURATION & SCHEDULE

</h1>

        </div>
        <div class="panel-body">
            <p class="contentp">
                The IT Server Administrator Professional program runs full time 20 hours per week for 50 weeks (1000 hours).            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                EMPLOYMENT COUNSELLING

            </h1>

        </div>
        <div class="panel-body">
            <p class="contentp">
                Employment counselling and job search training is provided for all students during their IT Office Administrator program via scheduled classroom lectures and ongoing individualized counselling. New Horizons remains a permanent source of employment search assistance for all graduates.
            </p>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">
                EMPLOYMENT TYPES
            </h1>

        </div>
        <div class="panel-body">
            <h2 class="contentH2">
                What career opportunities are available to graduates from the IT Server Administrator Professional program?
            </h2>
            <p class="contentpheight">
                <hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Information Technology Specialist<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;IT Support Specialist<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Computer Technician<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Computer Support Specialist<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Help Desk Analyst<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Technical Support Specialist<br /><hr class="hrp">
                <span class="glyphicon glyphicon-user blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Network Support Specialist
            </p>
        </div>
    </div>


    


    


    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">

                TEST PASS GUARANTEE
            </h1>
        </div>
        <div class="panel-body">

            <p class="contentp">
                New Horizons recognizes the importance of industry certifications. As part of our support for students achieving their academic and career goals, we offer practice tests to prepare students for their certification exams. In addition, when a student passes a practice test with a score of 90% or better, but fails to pass the corresponding certification exam New Horizons will provide a second certification exam voucher at no additional charge. No more than two (2) vouchers will be provided for a certification exam.


            </p>
        </div>
    </div>


    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Contact")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">

    <div class="panel panel-default bluePANEL">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate=""  method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrp11" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="24005">New Horizons Toronto</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option class="0 24005" value="41050">IT Enterprise Professional</option>
                        <option class="0 24005" value="41049">IT Help Desk Associate</option>
                        <option class="0 24005" value="41048">IT Office</option>
                        <option class="0 24005" value="41040">IT Server Administrator Professional</option>
                        <option class="0 24005" value="41051">IT Service Technician</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" onclick="ga('send', 'event', 'Lead Form', 'submit', 'IT Server Administrator');" />
                </div>
            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;AVAILABILITY</h1>
        </div>
        <div class="panel-body">

            <p class="contentpheight">
                <span class="glyphicon glyphicon-map-marker blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Toronto
            </p>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        ADMISSIONS PROCESS
                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <h2 class="contentH2">
                        The admissions process for the IT Server Administrator Professional Program is a four part process:
                    </h2>
                    <h2 class="contentH2"><span class="glyphicon glyphicon-earphone blueGoldBorderSM f20"></span>&nbsp;Initial Contact</h2>
                    <p class="contentp">
                        Contact an admissions representative to schedule an appointment. The admissions representative

                        will be able to answer any questions that you might have regarding the program or general

                        questions about IT Server Administrator Professional.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-info-sign blueGoldBorderSM f20"></span>&nbsp;Confidential Interview</h2>
                    <p class="contentp">
                        An interview will be completed in order to determine if students have the right attitude to be

                        successful in the program.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-briefcase blueGoldBorderSM f20"></span>&nbsp;Business Affairs Assessment</h2>
                    <p class="contentp">
                        The business affairs assessment is an appointment to determine if students are eligible for one of

                        the many financial aid options.
                    </p>

                    <h2 class="contentH2"><span class="glyphicon glyphicon-pencil blueGoldBorderSM f20"></span>&nbsp;Enrollment</h2>
                    <p class="contentp">
                        After the financial plan is in place, enrollment is official and students will be able to start classes in

                        order to train for an exciting new career.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseOne" class="contentH2 noDecoration">
                        FINANCIAL OPTIONS

                        <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p class="contentp">
                        If eligable, some financing options available to students include:
                    </p>

                    <p class="contentpheight">
                        <hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Student Assistance Program (OSAP) (if Applicable)<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Ontario Second Career<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Out of Province Options<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Student Lines of Credit<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Lifelone Learning Plan<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;RESP<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Employment Ontario<br /><hr class="hrp">
                        <span class="glyphicon glyphicon-briefcase blueGoldBorderSM f15"></span>&nbsp;&nbsp;&nbsp;Monthly Payment Plan
                    </p>
                    <p class="contentH2"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Financial assistance may be available for those who qualify. Please contact us for more details regarding Financial Assistance.</p><br />
                </div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#programCampusList').change(function () {
            var campusId = $('#programCampusList option:selected').val();

            $.each($("#programProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });
    });
</script>
