@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

<img src="Content/images/MassageBanner.png" alt="massage therapy training program banner" />

<p>
    <label class="contentBodyHeader">Massage Therapy Program</label>
</p>
<p class="underline">
    PROGRAM SUMMARY
</p>
<p>
    The Massage Therapy diploma program at Medix College provides training for individuals looking for a

    rewarding career working in the healthcare and spa fields. The Medix School Massage Therapy Program

    is approved by the Ministry of Training, Colleges and Universities and upon successful completion of the

    program, students are eligible to write their Licensing Examination. The Licensing Exams leads to

    Registration with the College of Massage Therapists of Ontario and the right to use the protected titles,

    “Massage Therapist and Registered Massage Therapist”.
</p>
<p>

    Student will learn and develop the manual skills involved in utilizing various techniques involved in

    therapy.  Students will also be exposed to other types of therapy practiced by other Regulated Health

    Professional and will understand differing approaches, philosophies, and methodologies to treatment

    which increases the likelihood of inter-professional collaboration. Training will cover such tasks as

    assessing clients by conducting range of motion and muscles tests, proposing treatment plans and

    administering massage techniques.
</p>
<p>

    There are employment opportunities for graduates of the Massage Therapy program in Brantford,

    Brampton, Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London, Mississauga,

    Markham, Milton, North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and other cities across

    southern Ontario. 
</p>

<p class="underline">
    AVAILABILITY
</p>
<p class="italic">
    Which campuses offer the Massage Therapy program?
</p>
<ul>
    <li>Brampton</li>

    <li>Kitchener</li>

    <li>London</li>

    <li>Scarborough</li>

    <li>Toronto</li>
</ul>

<p class="underline">
    EMPLOYMENT TYPES
</p>
<p class="italic">
    What career opportunities are available to graduates of the Massage Therapy program?
</p>
<ul>
    <li>Registered Massage Therapists</li>

    <li>Mobile Outpatient & Home Care Massage Therapists</li>

    <li>Massage Attendant</li>

    <li>Spa Therapist‎</li>

    <li>Spa Assistant</li>
</ul>

<p class="underline">
    EMPLOYMENT SECTORS
</p>
<p class="italic">
    Where do graduates of the Massage Therapy program work?
</p>
<ul>
    <li>Rehabilitation Clinics</li>

    <li>Massage Clinics</li>

    <li>Chiropractic Clinics</li>

    <li>Physiotherapy Clinics</li>

    <li>Long Term Palliative Care</li>

    <li>Athletic and Sports Therapy Clinics</li>

    <li>Spas and Hospitality Facilities</li>
</ul>

<p class="underline">
    COMMON JOB TASKS
</p>
<p class="italic">
    What are common job tasks for individuals working in the Massage Therapy field?
</p>
<ul>
    <li>Assess soft tissues and joints of the body for treatment and prevention of dysfunction</li>

    <li>Administer massage treatments to correct physical disorders</li>

    <li>Treat medical conditions and injuries and maintain wellness</li>

    <li>Provide soothing, healing but luxurious deep tissue massages</li>
</ul>
<p class="underline">
    MEDIX ADVANTAGE
</p>
<p class="italic">
    Why choose the Child and Youth Care with Addictions Support Worker(CYCWwas) Program at Medix College?
</p>
<p>
    Practical skill-building and a practicum component are used to give students a well-rounded

    understanding of the role of the Child and Youth Care with Addictions Support Worker. During the

    course of this program, students will learn all of the skills and be trained in all the procedures that will

    be required of them in their new careers.
</p>
<p>
    As a mandatory component of our programs, all Medix students are required to complete two off-site

    practicums (Practicum I & Practicum II) as well as a field placement component. Practicum I (112 hours)

    takes place concurrently during the first year and students will spend an average of 4 hours per week for

    28 weeks in either a group recreation, group care or community program setting. Practicum II (148

    hours) takes place concurrently during the second year and students will spend an average of 4 hours

    per week.
</p>
<p>
    Medix College also provides an employment advantage as we have established relationships with many

    employers in the field. As a result, employers in the field contact us before posting jobs to the general

    public giving current students and graduates of the program an advantage in the hiring process.
</p>
<p class="underline">
    ADMISSIONS PROCESS
</p>
<p>
    The admissions process for the Child and Youth Care with Addictions Support Worker (CYCWwas) Program is a four part process:
</p>
<ol>
    <li>
        <p class="italic">Initial Contact</p>

        Contact an admissions representative to schedule an appointment. The admissions representative

        will be able to answer any questions that you might have regarding the program or general

        questions about Medix College.
    </li>
    <li>
        <p class="italic">
            Confidential Interview
        </p>

        An interview will be completed in order to determine if students have the right attitude to be

        successful in the program.
    </li>
    <li>
        <p class="italic">
            Business Affairs Assessment
        </p>

        The business affairs assessment is an appointment to determine if students are eligible for one of

        the many financial aid options.
    </li>
    <li>
        <p class="italic">
            Enrollment
        </p>

        After the financial plan is in place, enrollment is official and students will be able to start classes in

        order to train for an exciting new career.
    </li>
</ol>
<p class="underline">
    FINANCIAL OPTIONS
</p>
<p>
    Students looking to start training in the Child and Youth Care with Addictions Support Worker

    (CYCWwas) Program have a number of options to finance their education. By exploring these options,

    students will be able to gain financial assistance and support as they are training for a career. Some

    financing options available to students include:
</p>
<ul>
    <li>Ontario Student Assistance Program (OSAP)</li>

    <li>Ontario Second Career</li>

    <li>Student Lines of Credit</li>

    <li>Canada Revenue Agency Lifelong Learning Plan (LLP)</li>
</ul>

<p>
    <strong>
        Note that in order to become a registered Massage Therapist, students must write the College of Massage Therapists of Ontario (CMTO) exam at their own expense. <a href="http://www.cmto.com/">Visit their website</a> for more details.
    </strong>
</p>