@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

<img src="/Content/images/Banner-Programs-Pharmacy-Assistant.jpg" class="img-responsive" alt="massage therapy training program banner" />

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Programs</a></li>
    <li class="active">Pharmacy Assistant</li>
</ol>

<h1>
    PROGRAM SUMMARY
</h1>
<p>
    The Pharmacy Assistant Diploma Program at Medix College provides training for individuals looking for a

    rewarding career working in entry-level positions in a pharmacy or pharmacy retail company.
</p>
<p>

    The objective of the Pharmacy Assistant Program is to provide graduates with the skills and knowledge

    that will enable them to qualify for entry-level positions. Our graduates have been successful securing

    employment in a variety of pharmaceutical organizations. Usually Pharmacy Assistants work in entry

    level positions at pharmacy retail companies. They work under the supervision of the pharmacy

    technician or Pharmacist. Some of the responsibilities include ordering and receiving the inventory,

    filling prescriptions, receiving shipments and handling paperwork.
</p>
<p>

    There are employment opportunities for graduates of the Pharmacy Assistant Diploma program in

    Brantford, Brampton, Burlington, Cambridge, Durham, Guelph, Hamilton, Kitchener, London,

    Mississauga, Markham, Milton, North York, Oakville, Oshawa, Scarborough, Toronto, Waterloo and

    other cities across southern Ontario. 
</p>
<br />
<h2>
    AVAILABILITY
</h2>
<h4>
    Which campuses offer the Pharmacy Assistant program?
</h4>
<ul>
    <li>Brampton</li>

    <li>Brantford</li>

    <li>Kitchener</li>

    <li>London</li>

    <li>Scarborough</li>

    <li>Toronto</li>
</ul>
<br />
<h2>
    EMPLOYMENT TYPES
</h2>
<h4>
    What career opportunities are available to graduates of the Pharmacy Assistant program?
</h4>
<ul>
    <li>Pharmacy assistant</li>

    <li>Data assistant</li>

    <li>Dispensary assistant</li>

    <li>Pharmacist assistant</li>

    <li>Pharmacy technical assistant</li>
</ul>
<br />
<h2>
    STUDENT REVIEW
</h2>
<div class="videoWrapper">
    <iframe width="560" height="349" src="https://www.youtube.com/embed/wmXJ61NG-QU?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<h2>
    EMPLOYMENT SECTORS
</h2>
<h4>
    Where do graduates of the Pharmacy Assistant program work?
</h4>
<ul>
    <li>Hospitals</li>

    <li>Retail pharmacies</li>

    <li>Home health care facilities</li>

    <li>Community pharmacies</li>

    <li>Long-term care facilities</li>

    <li>Public health service</li>
</ul>
<br />
<h2>
    COMMON JOB TASKS
</h2>
<h4>
    What are common job tasks for individuals working in the Pharmacy Assistant field?
</h4>
<ul>
    <li>Ordering and receiving the inventory</li>

    <li>Filling prescriptions</li>

    <li>Receiving shipments and handling paperwork</li>

    <li>Package and label pharmaceutical products</li>

    <li>Maintain prescription records and inventories of medications</li>
</ul>
<br />
<h2>
    MEDIX ADVANTAGE
</h2>
<h4>
    Why choose the Child and Youth Care with Addictions Support Worker(CYCWwas) Program at Medix College?
</h4>
<p>
    Practical skill-building and a practicum component are used to give students a well-rounded

    understanding of the role of the Child and Youth Care with Addictions Support Worker. During the

    course of this program, students will learn all of the skills and be trained in all the procedures that will

    be required of them in their new careers.
</p>
<p>
    As a mandatory component of our programs, all Medix students are required to complete two off-site

    practicums (Practicum I & Practicum II) as well as a field placement component. Practicum I (112 hours)

    takes place concurrently during the first year and students will spend an average of 4 hours per week for

    28 weeks in either a group recreation, group care or community program setting. Practicum II (148

    hours) takes place concurrently during the second year and students will spend an average of 4 hours

    per week.
</p>
<p>
    Medix College also provides an employment advantage as we have established relationships with many

    employers in the field. As a result, employers in the field contact us before posting jobs to the general

    public giving current students and graduates of the program an advantage in the hiring process.
</p>
<br />
<h2>
    ADMISSIONS PROCESS
</h2>
<p>
    The admissions process for the Child and Youth Care with Addictions Support Worker (CYCWwas) Program is a four part process:
</p>
<ol>
    <li>
        <h5>Initial Contact</h5>

        Contact an admissions representative to schedule an appointment. The admissions representative

        will be able to answer any questions that you might have regarding the program or general

        questions about Medix College.
    </li>
    <li>
        <h5>
            Confidential Interview
        </h5>

        An interview will be completed in order to determine if students have the right attitude to be

        successful in the program.
    </li>
    <li>
        <h5>
            Business Affairs Assessment
        </h5>

        The business affairs assessment is an appointment to determine if students are eligible for one of

        the many financial aid options.
    </li>
    <li>
        <h5>
            Enrollment
        </h5>

        After the financial plan is in place, enrollment is official and students will be able to start classes in

        order to train for an exciting new career.
    </li>
</ol>
<br />
<h2>
    FINANCIAL OPTIONS
</h2>
<p>
    Students looking to start training in the Child and Youth Care with Addictions Support Worker

    (CYCWwas) Program have a number of options to finance their education. By exploring these options,

    students will be able to gain financial assistance and support as they are training for a career. Some

    financing options available to students include:
</p>
<ul>
    <li>Ontario Student Assistance Program (OSAP)</li>

    <li>Ontario Second Career</li>

    <li>Student Lines of Credit</li>

    <li>Canada Revenue Agency Lifelong Learning Plan (LLP)</li>
</ul>