@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Abel-Dent</label>
</p>


<h1 class="head1">Course Objective</h1>
<p>
    The objective of the Abel Dent course is to gain an understanding of the dental software through

    competencies in setting up offices, scheduling, patient file information, office staff information

    estimates and billing treatment.
</p>

<p>
    Students will also gain knowledge of commonly used dental terms.
</p>

<p>
    ** for current students and graduates of the Medical Office Administration program
</p>

<h2 class="head2">Course Prerequisite</h2>

<ul>
    <li>
        Current Medix students should be in at least Mod 3 through completion of their current program and be in good standing  
    </li>

    <li>Medical Terminology</li>

    <li>English Proficiency</li>
</ul>

<p>
    <h2 class="head2">Course Duration & Schedule</h2>
</p>

<p>
    The Abel-Dent course is approximately 10 hours in length (see hours below)
</p>

<p>
    <h2 class="head2">Course Content</h2>
</p>
<ul>
    <li>Initial set up of Abel-Dent and entering office staff information</li>

    <li>Completing Patient Files</li>

    <li>Entering Insurance information for patients</li>

    <li>Setting up daily schedules and booking treatment</li>

    <li>Billing patients for services rendered</li>
</ul>

<p>
    <h2 class="head2">Completion Requirements</h2>
</p>
<ul>
    <li>Minimum of 70% on academic and practical testing</li>
</ul>


    <h2 class="head2">
    Tuition
</h2>

<p>
    $250.00 Tuition includes admission fee and lab materials.  
</p>


    <h2 class="head2">
        Start Dates:
        </h2>

<strong>CALL Medix College Kitchener</strong> for enrollment information, 519-895-0013