@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Emotional First Aid</label>
</p>
<p>
    <strong>Description</strong>
</p>
<p>
    The objective of the Emotional First Aid is to enhance the knowledge revolving around emotions and

    mental health. This workshop will cover areas such as:
</p>
<ul>
    <li>Exploring the emotional being of a person</li>

    <li>
        What are contributing factors affecting one’s emotion, we will explore areas such as
        <ul>
            <li>mental health</li>

            <li>
                domestic related
            </li>

            <li>psychosocial (finances, relationships, employment, etc.)</li>

            <li>alcohol and drug use</li>
        </ul>
    </li>

    <li>How to assess one’s emotions and mental status</li>

    <li>Treatment options (mindfulness, medication, psychotherapy and others)</li>

    <li>Preventative strategies</li>
</ul>

<p>
    <strong>Workshop Prerequisite</strong>
</p>
<ul>
    <li>
        Frontline workers, nurses, social workers, community support workers, child and youth workers, crisis workers, students and others working in the community
    </li>

    <li>A printed certificate will be printed for all those attended</li>
</ul>

<p>
    <strong>Course Duration and Schedule</strong>
</p>
<ul>
    <li>TBD</li>

    <li>9:00am to 4:00pm</li>
</ul>

<p>
    <strong>Fees</strong>
</p>
<ul>
    <li>$30.00 (This workshop has been subsidized, original price $215.00; savings of $185.00)</li>
</ul>