@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">English as a Second Language (ESL)</label>
</p>
<p>
    <strong>Workshop Objective</strong>
</p>

<p>
    The objective of the English as a Second Language (ESL) Workshop is to gain proficiency in both written

    and spoken English as it relates to the standards of healthcare.
</p>

<p>
    <strong>Course Prerequisite</strong>
</p>
<ul>
    <li>Gr.12 OSSD or Mature Student Status</li>
</ul>

<p>
    <strong>Course Duration, Schedule & Cost</strong>
</p>
<ul>
    <li>3 consecutive Saturdays, 5 hours per day (15 hours in total)</li>

    <li>$199.00</li>
</ul>

<p>
    <strong>Course Content</strong>
</p>

<p>
    <strong>Oral communication skills for health care workers</strong>
</p>

<p>
    Know how to gather, interpret and relay information, when working with patients and as part of a team:

    Ask questions, Use active listening skills, Seek clarification, Check information, Make suggestions and

    recommendations, Give advice, Give explanations and justify opinions, Give short presentations, Show

    an appreciation of the appropriate use of formal and informal language (including idiomatic

    expressions), and jargon, Use appropriate telephone skills and etiquette
</p>

<p>
    <strong>Writing skills for health care workers</strong>
</p>

<p>
    Know how to write with accuracy, clarity and conciseness, Take biographical details and write case

    histories, Describe symptoms, Complete forms, Compile medical reports: summarize, paraphrase and

    synthesize, Use paragraphing, punctuation and layout effectively, Use appropriate style, tone and

    register
</p>

<p>
    <strong>Reading, Listening and Discussion Skills</strong>
</p>

<p>
    Health care workers use articles relating to current medical issues taken from journals, newspapers,

    radio and television programs: Read for gist and for detail, Express and defend opinions, Suggest ideas,

    offering alternative interpretations, Obtain information from graphs and tables
</p>

<p>
    (Medix College reserves the right to update course content without notice; hours if listed are

    approximations only)
</p>