@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Food Handler Safety</label>
</p>
<p>
    <strong>Workshop Objective</strong>
</p>

<p>
    Completion of this course will help you attain the knowledge of basic food safety through the introduction and understanding of the following key areas:
</p>

<ul>
    <li>Personal Hygiene</li>

    <li>Micro-Organisms</li>

    <li>Time and Temperature control</li>

    <li>Cross-Contamination</li>

    <li>The Flow of Food: Receiving, Storing, Preparing, Thawing, Cooking, Cooling, Holding, Reheating</li>

    <li>Proper handling of equipment and Serving Food</li>

    <li>Food Allergies</li>

    <li>Cleaning and Sanitizing</li>

    <li>Food Safety Regulations</li>

    <li>Basic HACCP (Hazard Analysis Critical Care Points) Principles</li>
</ul>

<p>
    <strong>Course Prerequisite</strong>
</p>
<ul>
    <li>Students or Graduates of Medix College’s Personal Support Worker, Early Childhood Assistant Programs</li>

    <li>Individuals who are currently working in Healthcare settings and in the Food Service Industry where handling and/ or serving of food to the public or various populations is required</li>
</ul>


<p>
    <strong>Course Duration & Schedule</strong>
</p>
<ul>
    <li>Self study + 1 Saturday for review and final exam</li>

    <li>Once students' registration and payment is complete, students will receive a book to read in advance in preparation for the review and final exam. Please contact Medix directly for more information. Contact your campus for details</li>
</ul>

<p>
    <strong>Course Fee</strong>
</p>
<ul>
    <li>$100</li>

    <li>Course training manual</li>

    <li>Course Examination Fee</li>

    <li>
        5 year Food Handler Certification that is recognized across Canada excluding Alberta, and British Columbia
    </li>

    <li>Course Reexamination fee: $55.00</li>
</ul>