@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Urinalysis</label>
</p>
<p>
    <strong>Workshop Objective</strong>
</p>

<p>
    The Urinalysis course is designed to provide learners with information about the urinalysis test. Course

    content emphasizes the purpose of the test, normal values, and interpretation of results by covering the

    following key areas:
</p>

<ul>
    <li>Anatomy and physiology of the renal system</li>

    <li>Recognize the value of urinalysis as a screening examination for renal and nonrenal diseases</li>

    <li>Recognize types of urine specimens and methods of collection</li>

    <li>Elements of urinalysis</li>

    <li>Patient requisitions</li>

    <li>Quality assurance and quality </li>

    <li>Perform urinalysis in a practice lab</li>
</ul>

<p>
    <strong>Course Prerequisite</strong>
</p>
<ul>
    <li>Degree or Diploma in a medical discipline OR a minimum of 1 year experience in a medical setting</li>

    <li>Current Medix students should be at least halfway through completion of their current program and be in good standing</li>

    <li>English Proficiency</li>
</ul>

<p>
    <strong>Course Duration and Schedule</strong>
</p>

<p>
    Full Saturday, 9:00am-5:00pm
</p>

<p>
    <strong>Tuition</strong>
</p>
<ul>
    <li>
        $225.00 (or $175.00 if you are a current Medix student)
        <ul>
            <li>8-hour training session</li>

            <li>
                Course training materials
            </li>

            <li>Certificate of completion</li>
        </ul>
    </li>
</ul>
