@{
    Layout = "~/Views/Contact/_ContactLayout.cshtml";
}

@{
    ViewBag.Title = "Contact New Horizons";
    ViewBag.PageDescription = "Employment counselling and job search training is provided for all students during their program by scheduled classroom lectures and ongoing individualized counselling";
    ViewBag.HeaderTitle = "Contact New Horizons";
}

<div class="col-sm-12 botMARG">
    <h1 class="contentPageH1">CONTACT NEW HORIZONS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">Contact New Horizons</li>
    </ol>
    <img class="img-responsive" width="100%" src="~/Content/images/contactus.jpg" alt="Job interview taking place between a group of people." />

</div>

<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">Contact New Horizons</h1><hr class="hrp" />
            <p class="contentp">
                New Horizons Computer Learning Centers currently has one state-of-the-art campus which is located in Toronto Ontario. The campus is located in the Lawrence Square Shopping Centre on Lawrence Avenue West in the Lawrence Heights neighbourhood. The
            location provides easy access via the Toronto Transit Commission's Lawrence West station and is within minutes from the 401 via Allen Road.</p>


        </div>
    </div>



    <table class="table table-bordered">
        <tr>
            <th width="35%" class="active"><h2 class="contentH2">CAMPUS</h2></th>
            <th width="65%" class="active"><h2 class="contentH2">ADDRESS</h2></th>
        </tr>


        <tr>
            <th class="contentH3-blue"><a href="/Contact/TorontoCampus">Toronto</a></th>
            <td class="contentp">
                700 Lawrence Ave. W. Suite 300<br />

                Toronto, Ontario<br />

                M6A 3B4<br />

                Toll Free: 1-866-962-7685<br />

                Fax: (416) 630-9790
            </td>
        </tr>

        <tr>
            <th class="contentH3-blue"><a href="/Contact/TorontoCampus">Toronto</a></th>
            <td class="contentp">
                700 Lawrence Ave. W. Suite 300<br />

                Toronto, Ontario<br />

                M6A 3B4<br />

                Toll Free: 1-866-962-7685<br />

                Fax: (416) 630-9790
            </td>
        </tr>

        <tr>
            <th class="contentH3-blue"><a href="/Contact/BramptonCampus">Brampton</a></th>
            <td class="contentp">
                Shoppers World Brampton<br />

                499 Main St S #60<br />

                Brampton, Ontario<br />

                M6A L6Y 1N9<br />

                (905) 487-1163
            </td>
        </tr>
    </table>














    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>
<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="24005">New Horizons</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option class="0 24005" value="0">Select</option>
                        <option class="0 24005" value="41050">IT Enterprise Professional</option>
                        <option class="0 24005" value="41049">IT Help Desk Associate</option>
                        <option class="0 24005" value="41048">IT Office</option>
                        <option class="0 24005" value="41040">IT Server Administrator Professional</option>
                        <option class="0 24005" value="41051">IT Service Technician</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>



</div>




