@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Employment Ontario</label>
</p>

<p>
    The Ontario Ministry of Training, Colleges and Universities (MTCU) administers programs, such as Employment

    Ontario, to assist individuals who are unemployed or who have qualified for Employment Insurance. Students may

    qualify for postsecondary education financing through Employment Ontario or other programs managed by MTCU.
</p>