@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<p>
    <a href="http://medixcollege.ca/financing­education/?">http://medixcollege.ca/financing­education/?</a>
</p>
<p>
    <label class="contentBodyHeader">Financing Education</label>
</p>
<p>
    A post­secondary education is a big investment. Fortunately, we at Medix have a dedicated

    team to assist students with financing their education. There are many payment options

    available to Medix students. A brief description of some financing options available is outlined

    below.
</p>
