@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Lifelong Learning Plan</label>
</p>

<p>
    The Canada Revenue Agency Lifelong Learning Plan (LLP) allows you to withdraw amounts from your RRSPs to

    finance your education for you or your spouse (or common law partner). You may withdraw up to $10,000 per year,

    and up to a total maximum of $20,000.
</p>

<p>
    For more information visit the Canada Revenue Agency website at:
</p>

<a href="www.cra-arc.gc.ca/tx/ndvdls/tpcs/rrsp-reer/llp-reep/menu-eng.html">www.cra-arc.gc.ca/tx/ndvdls/tpcs/rrsp-reer/llp-reep/menu-eng.html</a>
