@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

@{
    ViewBag.Title = "Lifelong Learning Plan - Financial Options - Medix College";
    ViewBag.PageDescription = "Learn more about the Lifelong Learning Plan as a financial option to attend Medix College";
}


<div class="col-sm-12">
    <h1 class="contentPageH1">LIFELONG LEARNING PLAN</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
        <li class="contentp">@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
        <li class="active contentp">Lifelong Learning Plan</li>
    </ol>
</div>


<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <p class="contentp">
                The Canada Revenue Agency Lifelong Learning Plan (LLP) allows you to withdraw amounts from your RRSPs to

                finance your education for you or your spouse (or common law partner). You may withdraw up to $10,000 per year,

                and up to a total maximum of $20,000.
            </p>

            <p class="contentp">
                For more information visit the <a href="www.cra-arc.gc.ca/tx/ndvdls/tpcs/rrsp-reer/llp-reep/menu-eng.html"><span class="glyphicon glyphicon-link"></span>&nbsp;Canada Revenue Agency</a> website.
            </p>
        </div>
    </div>


    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrp11" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="24005">New Horizons Toronto</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option class="0 24005" value="41050">IT Enterprise Professional</option>
                        <option class="0 24005" value="41049">IT Help Desk Associate</option>
                        <option class="0 24005" value="41048">IT Office</option>
                        <option class="0 24005" value="41040">IT Server Administrator Professional</option>
                        <option class="0 24005" value="41051">IT Service Technician</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    
</div>