@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Out of Province Students</label>
</p>

<p>
    Students from provinces outside of Ontario may also qualify for loans, scholarships, bursaries and grants

    administered by their provincial Student Financial Assistance Offices
</p>