@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Registered Education Savings Plans</label>
</p>

<p>
    Students who have been named a beneficiary under a family members Registered Education Savings Plan (RESP),

    may use funds from the RESP to finance their education.
</p>