@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

<p>
    <label class="contentBodyHeader">Student Lines of Credit</label>
</p>

<p>
    Most major banks and credit unions offer student lines of credit to finance post secondary education.

    Please visit your financial institution to find out more information.
</p>
<p>
    <strong>Royal Bank</strong>
</p>
<p>
<a href="http://www.rbcroyalbank.com/personal-loans/student-line-of-credit.html">http://www.rbcroyalbank.com/personal-loans/student-line-of-credit.html</a>
</p>
<p>
    <strong>TD Bank</strong>
</p>
<p>
<a href="http://www.tdcanadatrust.com/products-services/borrowing/loans-lines-of-credit/student-line.jsp">http://www.tdcanadatrust.com/products-services/borrowing/loans-lines-of-credit/student-line.jsp</a>
</p>
<p>
    <strong>Scotia Bank</strong>
</p>
<p>
<a href="http://www.scotiabank.com/ca/en/0,,957,00.html">http://www.scotiabank.com/ca/en/0,,957,00.html</a>
</p>
<p>
    <strong>Bank of Montreal</strong>
</p>
<p>
    <a href="https://www.bmo.com/home/personal/banking/loans-loc/loc/student-line-of-credit">https://www.bmo.com/home/personal/banking/loans-loc/loc/student-line-of-credit</a>
</p>
<p>
    <strong>CIBC</strong>
</p>
<p>
<a href="https://www.cibc.com/ca/loans/edu-line-of-credit.html">https://www.cibc.com/ca/loans/edu-line-of-credit.html</a>
</p>